{% extends 'start.html' %}

{% load staticfiles %}

{% block title %}
    Change Password
{% endblock title %}

{% block block_page_css %}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
{% endblock block_page_css %}

{% block block_breadcrumb %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>Change Password</h2>
                    <!--<ol class="breadcrumb">
                        <li>
                            <a href="{% url 'start' %}">Home</a>
                        </li>

                    </ol> -->
                </div>
                <div class="col-lg-3">
                    <div class="ibox-content border-left-right">
                        <img alt="image" class="img-responsive" src="{% static 'img/BoardRoom-Logo.png' %}">
                    </div>
                </div>
            </div>
    {% endblock block_breadcrumb %}

{% block block_content %}
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                {% if message %}
                        <div class="col-md-6 col-sm-6 col-md-offset-3" id="id_message_box">

                            {% autoescape off %}
                                {{ message }}
                            {% endautoescape %}

                        </div>

                {% endif %}
                <div class="text-center m-t-lg">
                    <div class="col-md-offset-1 col-md-10">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Change account password</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#">Config option 1</a>
                                        </li>
                                        <li><a href="#">Config option 2</a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <form method="post" class="form-horizontal" action="{% url 'account:change_password' %}" id="id_user_form" >
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Current Password</label>
                                                <div class="col-sm-6">
                                                    <input type="password" class="form-control" name="current_password" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">New Password</label>
                                                <div class="col-sm-6">
                                                    <input type="password" class="form-control" name="new_password" id="id_new_password" required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Retype passoword</label>
                                                <div class="col-sm-6">
                                                    <input type="password" class="form-control" name="new_password_re" id="id_new_password_re" required>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-sm-1 col-sm-offset-3">
                                                    <button class="btn btn-primary" type="submit" id="btn_save">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock block_content %}

{% block block_script %}

    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <!-- Toastr script -->
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

    <script>

         $("#id_user_form").submit(function(){

            pass1 = $("#id_new_password").val();
            pass2 = $("#id_new_password_re").val();
            if(pass1 != pass2){

               toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "progressBar": true,
                  "preventDuplicates": false,
                  "positionClass": "toast-top-center",
                  "onclick": null,
                  "showDuration": "400",
                  "hideDuration": "1000",
                  "timeOut": "4000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                }
            toastr.error("New password didn't match");
                return false;
            }
            else{
                return true
            }

        });

        $("#id_message_box").fadeOut(10000);
    </script>

{% endblock %}